/* global */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer; /*해당 element에 호버될때 마우스 모양이 화살표->손 모양*/
}

a, a:active { /*기본적으로 있는 밑줄과 색상 삭제*/
    text-decoration: none; /*밑줄*/
    color: inherit; /*색상은 상속으로 변경*/
}

.flex { /*겹치는 속성 하나로 합치기*/
    display: flex;
    align-items: center;

}


/* navbar전체 */

/*padding, flex -> 상위태그인 nav에 적용*/

nav {
    padding: 0 16px; /*위아래-좌우*/
    /*flex-direction은 조작 필요 x!*/
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: 56px;
    background-color: white;
    width: 100%;
}

.nav-icon {
    width: 24px;
    height: 24px;
    /*inline-element는 width와 height를 적용시키기 위해 display: (inline)block으로 바꿔야함*/
    display: block;
}

.nav-btn {
    padding: 8px;
}



/* nav-left */

#logo {
    box-sizing: content-box; /*처음에 전체를 border-box로 해놨어서 content-box로 따로 설정해주는거임*/
    width: 90px;
    height: 20px;
    padding: 18px 14px 18px 16px;
}

#nav-country {
    margin: 12px 0 0 -10px;
    color: #606060;
    font-size: 10px;
    height: 44px; /*원래 height가 24px로 지정되었던건 위에서 nav-icon으로 24라고 정했기 때문에 nav-icon class를 제거*/
}


/* nav-center */
.nav-center {
    flex-basis: 728px; /* == width */
}

#search-form {
    flex: 1;
    margin-left: 40px;
    padding: 0 4px;
}

#search-form input {
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    flex: 1;
    height: 40px;
}

#search-form input::placeholder {
    color: hsl(0, 0%, 53.3%);
    font-size: 16px;
}

#search-form button {
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    height: 40px;
    width: 64px;
    background-color: #f8f8ff;
    justify-content: center; /*flex나 align-items 같은 건 flex에 정의 해놨으니 이것만!*/
}

/*마이크 버튼은 40*40인데 이미 24*24에 padding 8px씩 넣었기 때문에 일치해서 따로 조절하지 않음*/
#mic-btn {
    background-color: #F9F9F9;
    margin-left: 4px;
    border-radius: 50%;
}

/* nav-right */
.nav-right {
    min-width: 225px;
    justify-content: flex-end;
}

.nav-right .nav-btn {
    /*nav-right라는 class 안에 nav-btn이라는 class에만 적용시킨다는 뜻*/
    margin-right: 8px;
}

#profile-btn {
    padding: 1px 6px;
}

#profile-btn img{
    margin: 0 8px;
    border-radius: 50%;
}


/*flex-grow, flex-shrink, flex-basis*/